<h1>New Location</h1>

<form [formGroup]="location" (ngSubmit)="onSubmit()" autocomplete="off">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>City</mat-label>
      <input matInput type="text" formControlName="city">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Zip Code</mat-label>
      <input matInput type="text" formControlName="zipCode">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <input matInput type="text" formControlName="country">
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="!location.valid">Submit</button>
  </div>

  <div>
    <skylight-dropdown-weather-alert></skylight-dropdown-weather-alert>
  </div>
</form>
