<div class="question" [formGroup]="parent">
  <mat-form-field [appearance]="config.appearance" [color]="config.color">
    <mat-label>{{label}}</mat-label>

    <input matInput [matDatepicker]="picker" [formControlName]="name">
    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    
    <mat-error *ngIf="required && control.invalid">{{formatError(config.validation.required)}}</mat-error>
  </mat-form-field>
</div>
