@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';

body {
  font-family: "Sunflower", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cards */
@utility card {
  grid-column: span 1 / span 1;
  min-width: 0;
}

@utility card-md {
  grid-column: span 2 / span 2;
  min-width: 0;
}

@utility card-lg {
  grid-column: 1 / -1;
  min-width: 0;
}

/* Charts */
@utility chart {
  height: 12rem;
  position: relative;
}

/* Profiles */
@utility profile-sm {
  height: 2rem;
  width: 2rem;
}

@utility profile {
  height: 3rem;
  width: 3rem;
}

/* NavBar */
@utility m-navbar {
  margin: calc(var(--p-navbar-height) + 2rem) 2rem;
}

@utility m-navbar-sm {
  margin: calc(var(--p-navbar-height) + 1rem) 1rem;
}

@layer components {
  .alert {
    font-family: monospace;
    white-space: pre;
  }

  .section {
    background-color: var(--p-form-field-background);
	  border-radius: var(--p-card-border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
  }
}