<skylight-info-card
  title="Alerts ({{alertCount}})"
  [loading]="loading"
  [contextMenu]="contextMenu"
  (refresh)="getWeatherAlerts()">

  @if (alertCount > 0) {
    @for (alert of alerts; track $index) {
      @if (canDisplayAlert(alert)) {
        <skylight-weather-event-alert-button [alert]="alert" (click)="openWeatherAlert(alert)"></skylight-weather-event-alert-button>
      }
    }
  } @else if (!loading) {
    No Weather Alerts found.
  }
</skylight-info-card>

<ng-template #alertWindow let-data>
  <skylight-weather-event-alert-window [alert]="data"></skylight-weather-event-alert-window>
</ng-template>
