<div class="question flex-column" [formGroup]="parent">
  <ng-container [formArrayName]="name">
    <div class="flex-row">
      <skylight-form-question-select label="Alert" optionsEndpoint="WeatherAlert" [instance]="getControlInstance('alert', weatherEventAlert)"></skylight-form-question-select>

      <skylight-form-question-date label="Issuance Time" [instance]="getControlInstance('issuanceTime', weatherEventAlert)"></skylight-form-question-date>
    </div>

    <skylight-reorderable-list
      [instance]="getControlInstance('modifiers', weatherEventAlert)"
      (itemAdded)="addWeatherAlertModifier()"
      (itemRemoved)="removeWeatherAlertModifier($event)">
      <ng-template reorderableListItem let-item="item" let-index="index">
        <skylight-form-question-select
          label="Modifier {{index}}"
          optionsEndpoint="WeatherAlertModifier"
          [instance]="getControlInstance('control', item)">
        </skylight-form-question-select>
      </ng-template>
    </skylight-reorderable-list>
  </ng-container>
</div>
