.alert-button {
  justify-content: left;
  width: 100%;
}

.button-content {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.button-item {
  text-align: left;
}

.button-header {
  font-size: 1rem;
}

.preserve-text {
  text-transform: none;
}