<h1>New Weather Event</h1>

<form id="form-weather-event" class="flex-column" [formGroup]="form" (ngSubmit)="submit()">
  <skylight-form-field-set id="section-general" label="General Information">
    <skylight-form-question-input label="Name" [control]="form.controls.name"></skylight-form-question-input>

    <skylight-form-question-textarea label="Description" [control]="form.controls.description"></skylight-form-question-textarea>

    <skylight-form-question-select label="Weather" optionsEndpoint="Weather" [control]="form.controls.weather"></skylight-form-question-select>
    
    <div class="flex-row">
      <skylight-form-question-date label="Start Date" [control]="form.controls.startDate"></skylight-form-question-date>

      <skylight-form-question-date label="End Date" [control]="form.controls.endDate"></skylight-form-question-date>
    </div>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-alerts" label="Alerts">
    <skylight-reorderable-list
      formArrayName="alerts"
      [array]="form.controls.alerts"
      (itemAdded)="addWeatherEventAlert()"
      (itemRemoved)="removeWeatherEventAlert($event)">
      <ng-template reorderableListItem let-index="index">
        <skylight-form-question-weather-event-alert
          label="Alert {{index}}"
          [group]="form.controls.alerts.at(index)">
        </skylight-form-question-weather-event-alert>
      </ng-template>
    </skylight-reorderable-list>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-locations" label="Locations">
    <skylight-reorderable-list
      formArrayName="locations"
      [array]="form.controls.locations"
      (itemAdded)="addLocation()"
      (itemRemoved)="removeLocation($event)">
      <ng-template reorderableListItem let-index="index">
        <skylight-form-question-location
          label="Location {{index}}"
          [group]="form.controls.locations.at(index)">
        </skylight-form-question-location>
      </ng-template>
    </skylight-reorderable-list>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-statistics" label="Statistics">
    <skylight-form-question-weather-event-statistics
      label="Weather Event Statistics"
      [group]="form.controls.statistics">
    </skylight-form-question-weather-event-statistics>
  </skylight-form-field-set>

  <div>
    <button mat-raised-button color="accent" type="submit" [disabled]="false">Submit</button>
  </div>
</form>
