<h1>New Weather Event</h1>

<form id="form-weather-event" class="flex-column" [formGroup]="form" (ngSubmit)="submit()">
  <skylight-form-field-set id="section-general" label="General Information">
    <div class="flex-row">
      <skylight-form-question-input class="flex-item" label="Name" [control]="form.controls.name" (formGuideRequested)="requestGuide()"></skylight-form-question-input>
      
      <skylight-form-question-select class="flex-item" label="Experience" optionsEndpoint="WeatherExperience" [control]="form.controls.experience" (formGuideRequested)="requestGuide()"></skylight-form-question-select>
    </div>
    
    <div class="flex-row">
      <skylight-form-question-select class="flex-item" label="Weather" optionsEndpoint="Weather" [control]="form.controls.weather" (formGuideRequested)="requestGuide()"></skylight-form-question-select>

      <skylight-form-question-date class="flex-item" label="Start Date" [control]="form.controls.startDate" (formGuideRequested)="requestGuide()"></skylight-form-question-date>

      <skylight-form-question-date class="flex-item" label="End Date" [control]="form.controls.endDate" (formGuideRequested)="requestGuide()"></skylight-form-question-date>
    </div>

    <div class="flex-row">
      <skylight-form-question-textarea class="flex-item" label="Description" [control]="form.controls.description"></skylight-form-question-textarea>
    </div>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-alerts" label="Alerts">
    <skylight-reorderable-list
      formArrayName="alerts"
      [array]="form.controls.alerts"
      (itemAdded)="addWeatherEventAlert()"
      (itemRemoved)="removeWeatherEventAlert($event)">
      <ng-template reorderableListItem let-index="index">
        <skylight-form-question-weather-event-alert
          class="flex-item"
          label="Alert {{index + 1}}"
          [group]="form.controls.alerts.at(index)"
          (formGuideRequested)="requestGuide()">
        </skylight-form-question-weather-event-alert>
      </ng-template>
    </skylight-reorderable-list>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-locations" label="Locations">
    <skylight-reorderable-list
      formArrayName="locations"
      [array]="form.controls.locations"
      (itemAdded)="addWeatherEventLocation()"
      (itemRemoved)="removeWeatherEventLocation($event)">
      <ng-template reorderableListItem let-index="index">
        <skylight-form-question-weather-event-location
          class="flex-item"
          label="Weather Event Location {{index + 1}}"
          [group]="form.controls.locations.at(index)">
        </skylight-form-question-weather-event-location>
      </ng-template>
    </skylight-reorderable-list>
  </skylight-form-field-set>

  <skylight-form-field-set id="section-statistics" label="Statistics">
    <skylight-form-question-weather-event-statistics
      label="Weather Event Statistics"
      [group]="form.controls.statistics">
    </skylight-form-question-weather-event-statistics>
  </skylight-form-field-set>

  <div class="flex-row control-buttons">
    <button mat-fab extended class="flex-item" color="warn" type="button" (click)="reset()">
      <mat-icon>close</mat-icon>
      Reset
    </button>
    <button mat-fab extended class="flex-item" color="accent" type="submit" [disabled]="false">
      <mat-icon>done</mat-icon>   
      Submit
    </button>
  </div>
</form>
