@use 'src/core/styles/app-theme' as theme;

$_form_spacing: 64px;

form {
  gap: $_form_spacing;
  margin: 64px 15vw 0px 15vw;
}

h1 {
  &::before {
    content: '';
    background: theme.contrast-color('primary', 800, 0.75);
    border-radius: 5px; // Basically unused at this height, but can be used for other rounded border effects
    top: 200px;
    height: 2px;
    left: 40%;
    position: absolute;
    right: 40%;
  }
  
  margin-bottom: 100px; 
  margin-top: 125px;
  text-align: center;
}

.control-buttons {
  gap: 32px;
  margin-bottom: calc($_form_spacing / 2);
}