<skylight-info-card
  noGap
  size="small"
  title="Participants ({{participantCount}})"
  [loading]="loading"
  (refresh)="getParticipants()">

  @if (participantCount > 0) {
    @for (participant of participants; track $index) {
      <nb-card class="user-card" [accent]="getParticipantAccent(participant)">
        <nb-card-header>
          <div class="flex-row center">
            <nb-user
              class="flex-item"
              color="#0095ff"
              size="small"
              name="{{participant.firstName}} {{participant.lastName}}"
              showTitle="false">
            </nb-user>

            <div class="flex-row flex-item center no-gap data">
              <nb-icon [icon]="getParticipantIcon(participant)"></nb-icon>
              <span class="flex-item data-label paragraph-2">{{participant.participationMethod}}</span>
            </div>

            <div class="flex-row flex-item center no-gap data">
              <nb-icon icon="clock"></nb-icon>
              <span class="flex-item data-label paragraph-2">{{participant.participationDate | date:'short'}}</span>
            </div>
          </div>
        </nb-card-header>
      </nb-card>
    }
  } @else if (!loading) {
    No Participants found.
  }

</skylight-info-card>
