<nb-card>
  <nb-card-header>
    <div class="badge-container">
      <h2>{{summary.name}}</h2>

      @if (isActive) {
        <nb-badge text="LIVE" status="danger" position="top right"></nb-badge>
      }
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="flex-row stretch">
      <div class="flex-column float-left">
        <div class="flex-row">
          <skylight-icon-card icon="clock" nbTooltip="Duration">
            <span>
              {{summary.startDate | date:'long'}}

              @if (!isActive) {
                to {{summary.endDate | date:'long'}}
              }
            </span>
          </skylight-icon-card>

          @if (summary.damageCost) {
            <skylight-icon-card icon="pricetags" nbTooltip="Damage Cost">
              <span>{{summary.damageCost | currency:'USD':'symbol'}}</span>
            </skylight-icon-card>
          }

          @if (summary.affectedPeople) {
            <skylight-icon-card icon="person" nbTooltip="Affected People">
              <span>{{summary.affectedPeople}}</span>
            </skylight-icon-card>
          }
        </div>

        <p>{{summary.description}}</p>
      </div>

      <button nbButton hero class="nav-button" status="primary" size="giant" (click)="navigate()">
        <nb-icon icon="arrow-circle-right"></nb-icon>
      </button>
    </div>
  </nb-card-body>
</nb-card>
