<div id="page">
  <!-- TOOLBAR -->
  <mat-toolbar class="toolbar mat-elevation-z4">
    <button class="mat-icon-button-xxl" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <img id="logo" src="assets/logo256_64.png" alt="logo" />

    <span class="horizontal-spacer"></span>

    <button class="mat-icon-button-xxl" mat-icon-button matTooltip="Login">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <!-- MAIN CONTENT -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport fixedTopGap="64" mode="side" opened role="navigation">
      <ul class="navigation-links">
        <li *ngFor="let link of navigationLinks" class="navigation-link">
          <a mat-button [matTooltip]="link.tooltip" matTooltipPosition="right">{{link.name}}</a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <main id="content">
        <p>Hello World</p>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
