@use '~/src/app-theme' as theme;

#logo {
  height: 48px;
  margin: 0px 16px 0px 0px;
  width: 192px;
}

#page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  background-color: theme.color('primary', 700);
}

.toolbar {
  position: fixed;
  z-index: 128;
}

.sidenav-container {
  height: 100%;
  position: absolute;
}

.sidenav {
  display: flex;
  width: 15%;
}

.navigation-links {
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

.navigation-link {
	list-style: none;
	margin: 4px 0px 4px 0px;

  a {
    font-size: 20px;
    text-align: left;
    width: 100%;
  }
}
