<div id="page">
  <!-- TOOLBAR -->
  <mat-toolbar class="toolbar mat-elevation-z4">
    <span class="toolbar-group">
      <button class="mat-icon-button-xxl" mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      
      <a [routerLink]="routesConfig.root" style="display: flex">
        <img id="logo" src="core/assets/logo256_64.png" alt="logo" />
      </a>
    </span>

    <skylight-search-bar class="horizontal-spacer"></skylight-search-bar>

    <span class="toolbar-group" style="gap: 8px">
      <button mat-stroked-button matTooltip="Sign Up">Sign Up</button>
      <button class="mat-icon-button-xxl" mat-icon-button aria-label="Login" matTooltip="Login">
        <mat-icon>account_circle</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <!-- MAIN CONTENT -->
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" fixedInViewport fixedTopGap="64" mode="side" opened role="navigation">
      <ul class="navigation-links">
        <li *ngFor="let link of navigationLinks" class="navigation-link">
          <a mat-button [matTooltip]="link.tooltip" matTooltipPosition="right">{{link.name}}</a>
        </li>
        <li class="navigation-link">
          <a mat-button matTooltip="New Weather Event (TEMP)" matTooltipPosition="right" [routerLink]="routesConfig.weatherEvent.new">New Weather Event</a>
        </li>
      </ul>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <main id="content">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
