@use 'theme' as *;
@use '@nebular/theme/styles/globals' as *;

// Install the framework styles
@include nb-install() {
  @include nb-theme-global();
}

.darken {
  background-color: nb-theme(background-basic-color-3) !important;
}

.float-right {
  margin-left: auto;
}

.preformatted {
  font-family: monospace;
  white-space: pre;
}
