// Global Styles
@use '~/src/app-theme' as theme;

// Overall Page Layout
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

// Headings
h1 {
  color: theme.color('accent', 800);
  font-size: max(min(5vw, 36pt), 20pt) !important;
  font-weight: bold !important;
}

h2 {
  color: theme.color('accent', 800);
  font-size: max(min(4vw, 28pt), 18pt) !important;
}

h3 {
  color: theme.color('accent', 800);
  font-size: max(min(3vw, 20pt), 14pt) !important;
  text-decoration: underline !important;
}

// Special Styles
.horizontal-spacer {
  flex: 1 1 auto;
}

// Icons/Icon Buttons
@mixin mat-icon-size($name, $icon-size) {
  mat-icon.mat-icon-#{$name} {
    align-items: center !important;
    display: inline-flex !important;
    font-size: $icon-size !important;
    height: $icon-size !important;
    justify-content: center !important;
    line-height: $icon-size !important;
    padding: 0px !important;
    width: $icon-size !important;

    svg {
      width: $icon-size !important;
      height: $icon-size !important;
    }
  }
}

@include mat-icon-size('xxl', 42px);
@include mat-icon-size('xl', 32px);
@include mat-icon-size('large', 24px);
@include mat-icon-size('medium', 19px);
@include mat-icon-size('small', 16px);
@include mat-icon-size('tiny', 12px);

@mixin mat-icon-button-size($name, $button-size, $icon-size) {
  .mat-icon-button-#{$name} {
    align-items: center !important;
    display: inline-flex !important;
    height: $button-size !important;
    justify-content: center !important;
    padding: 0px !important;
    width: $button-size !important;

    mat-icon {
      font-size: $icon-size !important;
      height: $icon-size !important;
      line-height: $icon-size !important;
      width: $icon-size !important;

      svg {
        height: $icon-size !important;
        width: $icon-size !important;
      }
    }
  }
}

@include mat-icon-button-size('xxl', 54px, 42px);
@include mat-icon-button-size('xl', 48px, 32px);
@include mat-icon-button-size('large', 40px, 24px);
@include mat-icon-button-size('medium', 32px, 19px);
@include mat-icon-button-size('small', 26px, 16px);
@include mat-icon-button-size('tiny', 20px, 12px);
