// Import Nebular Theme System and the default theme
@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';
@use '@nebular/theme/styles/themes/dark';

$nb-enabled-themes: (default, dark);

$nb-custom-statuses: ('critical');

$nb-themes: nb-register-theme(
  (
    // Custom colors here...
    color-critical-100: #FFCEFA,
    color-critical-200: #FF9DFC,
    color-critical-300: #F76DFF,
    color-critical-400: #E848FF,
    color-critical-500: #CF0CFF,
    color-critical-600: #A208DB,
    color-critical-700: #7A06B7,
    color-critical-800: #570393,
    color-critical-900: #3E027A,
    color-critical-transparent-100: rgba(207, 12, 255, 0.08),
    color-critical-transparent-200: rgba(207, 12, 255, 0.16),
    color-critical-transparent-300: rgba(207, 12, 255, 0.24),
    color-critical-transparent-400: rgba(207, 12, 255, 0.32),
    color-critical-transparent-500: rgba(207, 12, 255, 0.40),
    color-critical-transparent-600: rgba(207, 12, 255, 0.48),
    color-critical-focus: color-critical-600, 
    color-critical-hover: color-critical-400, 
    color-critical-default: color-critical-500, 
    color-critical-active: color-critical-600, 
    color-critical-disabled: color-basic-transparent-300, 
    color-critical-focus-border: color-critical-700,
    color-critical-hover-border: color-critical-hover,
    color-critical-default-border: color-critical-default,
    color-critical-active-border: color-critical-active,
    color-critical-disabled-border: color-critical-disabled,
    color-critical-transparent-focus: color-critical-transparent-300,
    color-critical-transparent-hover: color-critical-transparent-200,
    color-critical-transparent-default: color-critical-transparent-100,
    color-critical-transparent-active: color-critical-transparent-300,
    color-critical-transparent-disabled: color-basic-transparent-200,
    color-critical-transparent-focus-border: color-critical-500,
    color-critical-transparent-hover-border: color-critical-500,
    color-critical-transparent-default-border: color-critical-500,
    color-critical-transparent-active-border: color-critical-500,
    color-critical-transparent-disabled-border: color-basic-transparent-300,
    text-critical-color: color-critical-default,
    text-critical-focus-color: color-critical-focus,
    text-critical-hover-color: color-critical-hover,
    text-critical-active-color: color-critical-active,
    text-critical-disabled-color: color-critical-400,

    // Custom component styles here...
    // These usually reference other colors within the theme map.
    button-outline-critical-background-color:	color-critical-transparent-default,
    button-outline-critical-border-color: color-critical-transparent-default-border,
    button-outline-critical-text-color: text-critical-color,
    button-outline-critical-focus-background-color: color-critical-transparent-focus,
    button-outline-critical-focus-border-color: color-critical-transparent-focus-border,
    button-outline-critical-focus-text-color:	text-critical-color,
    button-outline-critical-hover-background-color: color-critical-transparent-hover,
    button-outline-critical-hover-border-color:	color-critical-transparent-hover-border,
    button-outline-critical-hover-text-color: text-critical-color,
    button-outline-critical-active-background-color: color-critical-transparent-active,
    button-outline-critical-active-border-color: color-critical-transparent-active-border,
    button-outline-critical-active-text-color: text-critical-color,
    button-outline-critical-disabled-background-color: color-critical-transparent-disabled,
    button-outline-critical-disabled-border-color: color-critical-transparent-disabled-border,
    button-outline-critical-disabled-text-color: text-disabled-color
  ),
  dark,
  dark
);
