<div>
  <div class="card-row">
    <div class="card-col">
      <skylight-weather-event-alerts-card [weatherEventId]="weatherEventId"></skylight-weather-event-alerts-card>
    </div>
    <div class="card-col">
      <skylight-weather-event-locations-card [weatherEventId]="weatherEventId"></skylight-weather-event-locations-card>
    </div>
    <div class="card-col">
      <skylight-weather-event-participants-card [weatherEventId]="weatherEventId"></skylight-weather-event-participants-card>
      <nb-card size="tiny">
        <nb-card-header><h4>Links</h4></nb-card-header>
        <nb-card-body nbSpinnerSize="giant" [nbSpinner]="false">
          Example link...
        </nb-card-body>
      </nb-card>
  </div>
</div>
