@if (summary) {
  <nb-card accent="info">
    <nb-card-header>
      <h1 class="title">{{summary.name}}</h1>  
      <span class="flex-row">
        @if (isTracking) {
          <button nbButton hero class="hero-button" shape="semi-round" size="medium" status="primary" (click)="toggleTracking()"><nb-icon icon="eye-off"></nb-icon>Untrack</button>
        } @else {
          <button nbButton hero class="hero-button" shape="semi-round" size="medium" status="primary" (click)="toggleTracking()"><nb-icon icon="eye"></nb-icon>Track</button>
        }
        <button nbButton hero shape="semi-round" size="medium" status="primary"><nb-icon icon="share"></nb-icon>Share</button>
        <button nbButton hero shape="semi-round" size="medium" status="primary"><nb-icon icon="file-add"></nb-icon>Report</button>
      </span>
    </nb-card-header>
    <nb-card-body>
      <div class="flex-row">
        <skylight-icon-card icon="clock" nbTooltip="Duration">
          <span>
            {{summary.startDate | date:'long'}}
  
            @if (!isActive) {
              to {{summary.endDate | date:'long'}}
            }
          </span>
        </skylight-icon-card>

        @if (summary.damageCost) {
          <skylight-icon-card icon="pricetags" nbTooltip="Damage Cost">
            <span>{{summary.damageCost | currency:'USD':'symbol'}}</span>
          </skylight-icon-card>
        }

        @if (summary.affectedPeople) {
          <skylight-icon-card icon="person" nbTooltip="Affected People">
            <span>{{summary.affectedPeople}}</span>
          </skylight-icon-card>
        }
      </div>
      
      <p>{{summary.description}}</p>
    </nb-card-body>
    <nb-card-footer>
      <skylight-tab-container></skylight-tab-container>
    </nb-card-footer>
  </nb-card>
} @else {
  <nb-card nbSpinnerStatus="info" nbSpinnerSize="giant" [nbSpinner]="loading">
    <nb-card-body>
      @if (!loading) {
        Error getting Weather Event {{weatherEventId}}.
      }
    </nb-card-body>
  </nb-card>
}
