.title {
  padding-bottom: 1rem;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero-button {
  text-transform: uppercase;
}

.info-cards {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}