<div [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label [attr.for]="question.key">{{question.label}}</mat-label>
    <mat-select [id]="question.key" [attr.name]="question.key" [formControlName]="question.key"> <!--May need id and formControlName attrs here?-->
      <mat-option *ngFor="let option of question.options.options" [value]="option.key">
        {{option.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!--<div class="errorMessage" *ngIf="!valid">{{question.label}} is required.</div>-->
</div>
