<ng-container [formGroup]="model">
  <ng-container [formGroupName]="section.id">
    <div>
      <mat-form-field appearance="fill">
        <mat-label [attr.for]="question.id">{{question.label}}</mat-label>
        <mat-select [id]="question.id" [attr.name]="question.id" [formControlName]="question.id">
          <mat-option *ngFor="let option of question.options.allOptions" [value]="option.key">
            {{option.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="errorMessage" *ngIf="!control.valid">{{question.label}} is required.</div>
    </div>
  </ng-container>
</ng-container>
