<ng-container *ngIf="guide">
  <div class="question flex-column" [formGroup]="group">
    <h3>General</h3>
    <div class="flex-row">
      <skylight-form-question-input
        class="flex-item"
        label="Damage Cost"
        example="1.23"
        [guide]="guide.damageCost"
        [control]="group.controls.damageCost">
      </skylight-form-question-input>
  
      <skylight-form-question-input
        class="flex-item"
        label="Fatalities"
        example="123"
        [guide]="guide.fatalities"
        [control]="group.controls.fatalities">
      </skylight-form-question-input>
    </div>
  
    <ng-container *ngIf="showTornadoSection || showHurricaneSection || showEarthquakeSection">
      <h3 *ngIf="showTornadoSection">Tornado</h3>
      <div *ngIf="showTornadoSection" class="flex-row">
        <skylight-form-question-select
          class="flex-item"
          label="EF Rating"
          [guide]="guide.efRating"
          [control]="group.controls.efRating">
        </skylight-form-question-select>
  
        <skylight-form-question-input
          class="flex-item"
          label="Funnel Width"
          example="123"
          [guide]="guide.funnelWidth"
          [control]="group.controls.funnelWidth">
        </skylight-form-question-input>
  
        <skylight-form-question-input
          class="flex-item"
          label="Path Distance"
          example="123"
          [guide]="guide.pathDistance"
          [control]="group.controls.pathDistance">
        </skylight-form-question-input>
      </div>
  
      <h3 *ngIf="showHurricaneSection">Hurricane</h3>
      <div *ngIf="showHurricaneSection" class="flex-row">
        <skylight-form-question-select
          class="flex-item"
          label="Saffir Simpson Rating"
          [guide]="guide.saffirSimpsonRating"
          [control]="group.controls.saffirSimpsonRating">
        </skylight-form-question-select>
  
        <skylight-form-question-input
          class="flex-item"
          label="Lowest Pressure"
          example="1.23"
          [guide]="guide.lowestPressure"
          [control]="group.controls.lowestPressure">
        </skylight-form-question-input>
  
        <skylight-form-question-input
          class="flex-item"
          label="Max Wind Speed"
          example="123"
          [guide]="guide.maxWindSpeed"
          [control]="group.controls.maxWindSpeed">
        </skylight-form-question-input>
      </div>
  
      <h3 *ngIf="showEarthquakeSection">Earthquake</h3>
      <div *ngIf="showEarthquakeSection" class="flex-row">
        <skylight-form-question-input
          class="flex-item"
          label="Richter Magnitude"
          example="1.23"
          [guide]="guide.richterMagnitude"
          [control]="group.controls.richterMagnitude">
        </skylight-form-question-input>
        
        <skylight-form-question-select
          class="flex-item"
          label="Mercalli Intensity"
          [guide]="guide.mercalliIntensity"
          [control]="group.controls.mercalliIntensity">
        </skylight-form-question-select>
  
        <skylight-form-question-input
          class="flex-item"
          label="Aftershocks"
          example="123"
          [guide]="guide.aftershocks"
          [control]="group.controls.aftershocks">
        </skylight-form-question-input>
      </div>
      <div class="flex-row">
        <skylight-form-question-input
          class="flex-item"
          label="Fault"
          [guide]="guide.fault"
          [control]="group.controls.fault">
        </skylight-form-question-input>
  
        <skylight-form-question-checkbox
          class="flex-item"
          label="Related Tsunami"
          [guide]="guide.relatedTsunami"
          [control]="group.controls.relatedTsunami">
        </skylight-form-question-checkbox>
      </div>
    </ng-container>
  </div>
</ng-container>
  