@use '~/src/app-theme' as theme;

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 64px;
}

section {
  border: 0.125rem solid theme.contrast-color('primary', 800, 0.5);
  border-radius: 1rem;
  padding: 8px;
}

.question {
  flex: 1 1 auto;

  mat-form-field {
    width: 100%;
  }
}