<div class="flex-column">
  <nb-user size="large" [name]="alert.sender" [picture]="senderPicture" [title]="alert.source"></nb-user>

  <div class="flex-row">
    <skylight-icon-card class="flex-item" icon="play-circle" nbTooltip="Effective">{{alert.effective | date:'medium'}}</skylight-icon-card>
    <skylight-icon-card class="flex-item" icon="stop-circle" nbTooltip="Expires">{{alert.expires | date:'medium'}}</skylight-icon-card>
    <skylight-icon-card class="flex-item" icon="clock" nbTooltip="Issued">{{alert.sent | date:'medium'}}</skylight-icon-card>
  </div>

  <nb-card>
    @if (!!alert.instruction) {
      <nb-card-header>
        <p class="subtitle">{{alert.instruction}}</p>
      </nb-card-header>
    }
    <nb-card-body class="alert-description">
      <div class="preformatted">{{alert.description}}</div>
    </nb-card-body>
  </nb-card>
</div>
