<div class="flex-row">
  <img id="logo" src="assets/images/logo_text_256.png" alt="logo" />

  <div class="float-right flex-row">
    @if (!isSignedIn) {
      <a nbButton href="register" appearance="outline" shape="round">Register</a>
      <a nbButton href="sign-in" shape="round" status="info">Sign In</a>
    } @else {
      <nb-user color="#0095ff" nbContextMenuTrigger="hover" [nbContextMenu]="userContextMenu.displayItems" [nbContextMenuTag]="userContextMenu.tag" [name]="fullName" ></nb-user>
    }
  </div>
</div>
