<skylight-info-card title="Locations ({{locationGroupsCount}})">

  @if (locationGroups.length > 0) {
    <div class="flex-row">
      <button nbButton class="flex-item" (click)="expandAll()">Expand All</button>
      <button nbButton class="flex-item" (click)="collapseAll()">Collapse All</button>
    </div>

    <nb-accordion #locationGroupsElement multi>
      @for (locationGroup of locationGroups; track locationGroup.state) {
        <nb-accordion-item>
          <nb-accordion-item-header darken>{{locationGroup.state | stateName}}</nb-accordion-item-header>
          <nb-accordion-item-body>
            <nb-list>
              @for (location of locationGroup.locations; track $index) {
                <nb-list-item>{{location.name}}, {{location.state}}</nb-list-item>
              }
            </nb-list>
          </nb-accordion-item-body>
        </nb-accordion-item>
      }
    </nb-accordion>
  } @else {
    No Locations found.
  }
  
</skylight-info-card>
