<div class="question flex-column" [formGroup]="group">
  <div class="flex-row">
    <skylight-form-question-select label="Alert" optionsEndpoint="WeatherAlert" [control]="group.controls.alert"></skylight-form-question-select>

    <skylight-form-question-date label="Issuance Time" [control]="group.controls.issuanceTime"></skylight-form-question-date>
  </div>

  <skylight-reorderable-list
    formArrayName="modifiers"
    [array]="group.controls.modifiers"
    (itemAdded)="addWeatherAlertModifier()"
    (itemRemoved)="removeWeatherAlertModifier($event)">
    <ng-template reorderableListItem let-item="item" let-index="index">
      <skylight-form-question-select
        label="Modifier {{index}}"
        optionsEndpoint="WeatherAlertModifier"
        [control]="modifiers.at(index)">
      </skylight-form-question-select>
    </ng-template>
  </skylight-reorderable-list>
</div>
