<ng-container *ngIf="guide">
  <div class="question flex-column" [formGroup]="group">
    <div class="flex-row">
      <skylight-form-question-select
        class="flex-item"
        label="Alert"
        [guide]="guide.alert"
        [control]="group.controls.alert">
      </skylight-form-question-select>
  
      <skylight-form-question-date
        class="flex-item"
        label="Issuance Time"
        [guide]="guide.issuanceTime"
        [control]="group.controls.issuanceTime">
      </skylight-form-question-date>
    </div>
  
    <div class="flex-row">
      <skylight-form-question-select
        class="flex-item"
        label="Modifiers"
        [multiple]="true"
        [guide]="guide.modifiers[0]"
        [control]="group.controls.modifiers">
      </skylight-form-question-select>
    </div>
  </div>
</ng-container>