<div>
  <div class="card-row">
    <div class="card-col">
      <skylight-weather-event-alerts-card [weatherEventId]="weatherEventId" (alertSelected)="onAlertSelected($event)"></skylight-weather-event-alerts-card>
    </div>
    <div class="card-col">
      <skylight-weather-event-locations-card [weatherEventId]="weatherEventId"></skylight-weather-event-locations-card>
    </div>
    <div class="card-col">
      <nb-card size="small">
        <nb-card-header><h4>Participants</h4></nb-card-header>
      </nb-card>
      <nb-card size="tiny">
        <nb-card-header><h4>Links</h4></nb-card-header>
        <nb-card-body nbSpinnerSize="giant" [nbSpinner]="false">
          Example link...
        </nb-card-body>
      </nb-card>
  </div>
</div>

<ng-template #alertWindow let-data>
  <skylight-weather-event-alert-window [alert]="data"></skylight-weather-event-alert-window>
</ng-template>
